In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import datetime

# Import data

In [84]:
os.chdir("D:/Kaggle/ATP_Matches/")

In [85]:
dat = pd.read_csv("data/ATP.csv")

# convert date as datatime

In [86]:
dat['date'] = dat.tourney_date.apply(lambda t: datetime.strptime(str(t), '%Y%m%d'))

In [87]:
dat.iloc[12365]

best_of                                 3
draw_size                             NaN
l_1stIn                               NaN
l_1stWon                              NaN
l_2ndWon                              NaN
l_SvGms                               NaN
l_ace                                 NaN
l_bpFaced                             NaN
l_bpSaved                             NaN
l_df                                  NaN
l_svpt                                NaN
loser_age                           27.91
loser_entry                           NaN
loser_hand                              U
loser_ht                              NaN
loser_id                           109833
loser_ioc                             JAM
loser_name                Richard Russell
loser_rank                            NaN
loser_rank_points                     NaN
loser_seed                            NaN
match_num                              48
minutes                               NaN
round                                 R32
score                                 DEF
surface                              Clay
tourney_date                     19730805
tourney_id                       1973-663
tourney_level                           A
tourney_name                   Louisville
w_1stIn                               NaN
w_1stWon                              NaN
w_2ndWon                              NaN
w_SvGms                               NaN
w_ace                                 NaN
w_bpFaced                             NaN
w_bpSaved                             NaN
w_df                                  NaN
w_svpt                                NaN
winner_age                          29.45
winner_entry                          NaN
winner_hand                             R
winner_ht                             178
winner_id                          100084
winner_ioc                            NED
winner_name                     Tom Okker
winner_rank                           NaN
winner_rank_points                    NaN
winner_seed                             2
date                  1973-08-05 00:00:00
Name: 12365, dtype: object

In [124]:
colnames = dict()
colnames['type1'] = ['1stIn', '1stWon', '2ndWon', 'SvGms', 'ace', 'bpFaced', 'bpSaved', 'df', 'svpt']
colnames['type2'] = ['age', 'entry', 'hand', 'ht', 'id', 'ioc', 'name', 'rank', 'rank_points', 'seed']
colnames['type3'] = ['best_of', 'draw_size', 'match_num', 'minutes', 'round', 'score', 'surface', 'tourney_date',
                     'tourney_id', 'tourney_level', 'tourney_name', 'date']

In [140]:
df = pd.DataFrame()
mat = []
for i in range(5):
    row = []
    for col in colnames['type3']:
        row.append(dat[col][i])
    if i % 2 == 0: #j0
        
    mat.append(row)

,best_of,draw_size,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,date
0,5,64.0,1,NaN,R64,12-10 7-5 4-6 7-5,Grass,19680119,1968-580,G,Australian Chps.,1968-01-19
1,5,64.0,2,NaN,R64,6-3 6-2 6-4,Grass,19680119,1968-580,G,Australian Chps.,1968-01-19
2,5,64.0,3,NaN,R64,6-4 3-6 6-3 7-5,Grass,19680119,1968-580,G,Australian Chps.,1968-01-19
3,5,64.0,4,NaN,R64,6-4 6-2 6-1,Grass,19680119,1968-580,G,Australian Chps.,1968-01-19
4,5,64.0,5,NaN,R64,6-4 6-1 7-5,Grass,19680119,1968-580,G,Australian Chps.,1968-01-19

In [136]:
mat

[[5,
  64.0,
  1,
  nan,
  'R64',
  '12-10 7-5 4-6 7-5',
  'Grass',
  19680119,
  '1968-580',
  'G',
  'Australian Chps.',
  Timestamp('1968-01-19 00:00:00')],
 [5,
  64.0,
  2,
  nan,
  'R64',
  '6-3 6-2 6-4',
  'Grass',
  19680119,
  '1968-580',
  'G',
  'Australian Chps.',
  Timestamp('1968-01-19 00:00:00')],
 [5,
  64.0,
  3,
  nan,
  'R64',
  '6-4 3-6 6-3 7-5',
  'Grass',
  19680119,
  '1968-580',
  'G',
  'Australian Chps.',
  Timestamp('1968-01-19 00:00:00')],
 [5,
  64.0,
  4,
  nan,
  'R64',
  '6-4 6-2 6-1',
  'Grass',
  19680119,
  '1968-580',
  'G',
  'Australian Chps.',
  Timestamp('1968-01-19 00:00:00')],
 [5,
  64.0,
  5,
  nan,
  'R64',
  '6-4 6-1 7-5',
  'Grass',
  19680119,
  '1968-580',
  'G',
  'Australian Chps.',
  Timestamp('1968-01-19 00:00:00')]]

In [108]:
dat.loc[dat.winner_name=="Roger Federer"][["winner_age","winner_rank","winner_rank_points"]]

        winner_age  winner_rank  winner_rank_points
106428       17.14        878.0                 9.0
106437       17.14        878.0                 9.0
107182       17.48        243.0               173.0
107198       17.48        243.0               173.0
107410       17.52        178.0               262.0
107419       17.52        178.0               262.0
107795       17.65        123.0               367.0
109719       18.10        104.0               468.0
109854       18.14         96.0               510.0
109892       18.15        106.0               472.0
109903       18.15        106.0               472.0
110021       18.17         93.0               525.0
110030       18.17         93.0               525.0
110034       18.17         93.0               525.0
110043       18.19         67.0               683.0
110261       18.40         64.0               515.0
110466       18.44         62.0               620.0
110504       18.44         62.0               620.0
110625       18.49         61.0               652.0
110669       18.50         67.0               582.0
110684       18.50         67.0               582.0
110691       18.50         67.0               582.0
110695       18.50         67.0               582.0
110822       18.54         66.0               625.0
110830       18.54         66.0               625.0
110881       18.56         58.0               684.0
110891       18.56         58.0               684.0
110896       18.56         58.0               684.0
111096       18.61         53.0               753.0
111828       18.81         54.0               735.0
...            ...          ...                 ...
167959       36.90          2.0              8720.0
167975       36.90          2.0              8720.0
168336       37.01          2.0              6480.0
168352       37.01          2.0              6480.0
168360       37.01          2.0              6480.0
168364       37.01          2.0              6480.0
168477       37.05          2.0              7080.0
168509       37.05          2.0              7080.0
168525       37.05          2.0              7080.0
168799       37.17          2.0              6900.0
168807       37.17          2.0              6900.0
168811       37.17          2.0              6900.0
168911       37.20          3.0              6260.0
168919       37.20          3.0              6260.0
168923       37.20          3.0              6260.0
168925       37.20          3.0              6260.0
168926       37.20          3.0              6260.0
168978       37.22          3.0              6260.0
168992       37.22          3.0              6260.0
168999       37.22          3.0              6260.0
169025       37.26          3.0              6020.0
169026       37.26          3.0              6020.0
169225       37.43          3.0              6420.0
169265       37.43          3.0              6420.0
169285       37.43          3.0              6420.0
169632       37.55          7.0              4100.0
169648       37.55          7.0              4100.0
169656       37.55          7.0              4100.0
169660       37.55          7.0              4100.0
169662       37.55          7.0              4100.0

[1200 rows x 3 columns]

In [7]:
pd.DataFrame({"NAME": sorted(dat.winner_name.unique())}).tail(50)

                    NAME
3558   Yasufumi Yamamoto
3559   Yasutaka Uchiyama
3560     Yehoshua Shalem
3561        Yemisi Allan
3562         Yen Hsun Lu
3563  Yevgeny Kafelnikov
3564         Yew Ming Si
3565           Yibing Wu
3566        Yildirak Das
3567        Yohny Romero
3568       Yong Ho Chung
3569        Yong Il Yoon
3570        Yong Kyu Lim
3571        Yordan Kanev
3572  Yoshihito Nishioka
3573     Yosuke Watanuki
3574   Younes El Aynaoui
3575      Younes Rachidi
3576      Young Dae Jeon
3577       Young Jun Kim
3578      Youssef Hossam
3579         Yshai Oliel
3580         Yu Hui Lien
3581          Yu Jr Wang
3582            Yu Zhang
3583            Yu Zheng
3584        Yue Wei Wang
3585       Yuichi Sugita
3586         Yuji Tezuka
3587        Yuki Bhambri
3588        Yuri Schukin
3589        Yves Allegro
3590   Zacharie Moungnol
3591      Zack Fleishman
3592          Zan Guerry
3593      Zdravko Mincek
3594            Ze Zhang
3595         Zeeshan Ali
3596   Zeljko Franulovic
3597       Zeljko Krajan
3598        Zeljko Tosic
3599            Zhao Xie
3600              Zhe Li
3601       Zhizhen Zhang
3602         Zoltan Ilin
3603    Zoltan Kuharszky
3604      Zoran Petkovic
3605      Zoran Sevcenko
3606       Zsombor Piros
3607      Zulfiqar Ahmed

In [23]:
dat.iloc[1000:1200,:15].head()

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,l_svpt,loser_age,loser_entry,loser_hand,loser_ht
1000,3,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.434634,NaN,R,188.0
1001,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN
1002,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.047912,NaN,R,NaN
1003,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.365503,NaN,R,NaN
1004,3,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.186174,NaN,R,NaN

In [14]:
dat.iloc[:,15:30].head()

,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name
0,107760,AUS,Max Senior,NaN,NaN,NaN,1,NaN,R64,12-10 7-5 4-6 7-5,Grass,19680119,1968-580,G,Australian Chps.
1,106964,AUS,Ernie Mccabe,NaN,NaN,NaN,2,NaN,R64,6-3 6-2 6-4,Grass,19680119,1968-580,G,Australian Chps.
2,110024,INA,Gondo Widjojo,NaN,NaN,15.0,3,NaN,R64,6-4 3-6 6-3 7-5,Grass,19680119,1968-580,G,Australian Chps.
3,110025,AUS,Robert Layton,NaN,NaN,NaN,4,NaN,R64,6-4 6-2 6-1,Grass,19680119,1968-580,G,Australian Chps.
4,110026,AUS,Bert Kearney,NaN,NaN,NaN,5,NaN,R64,6-4 6-1 7-5,Grass,19680119,1968-580,G,Australian Chps.

In [40]:
dat.iloc[:,30:].shape

(169690, 19)

In [19]:
dat.surface.unique()

array(['Grass', 'Hard', 'Clay', 'Carpet', nan, 'None'], dtype=object)

In [21]:
dat.groupby(["surface","winner_name"])["winner_name"].count()

surface  winner_name
Carpet   Aaron Krickstein                48
         Adam Kellner                     2
         Adam Malik                       4
         Adam Thompson                    1
         Adrian Graimprey                 3
         Adrian Marcu                     1
         Adrian Voinea                   13
         Adriano Panatta                 47
         Adrians Zguns                    1
         Agustin Calleri                  5
         Agustin Moreno                   1
         Aivaras Balzekas                 1
         Aki Rahunen                     11
         Albert Chang                     4
         Albert Costa                     8
         Albert Portas                    1
         Alberto Berasategui              7
         Alberto Mancini                  4
         Alberto Martin                   1
         Alberto Tous                     1
         Alejandro Falla                  3
         Alejandro Gattiker               2
         Alejandro Hernandez              3
         Alejandro Pierola                1
         Alex Antonitsch                 19
         Alex Corretja                   10
         Alex Mayer                       8
         Alex Metreveli                  28
         Alex Obrien                      8
         Alex Radulescu                   7
                                         ..
None     Lloyd George Muirhead Harris     2
         Luis David Martinez              1
         Manuel Sanchez                   1
         Marcelo Arevalo                  2
         Marius Copil                     1
         Marsel Ilhan                     2
         Martin Klizan                    1
         Marton Fucsovics                 2
         Mohammad Ghareeb                 1
         Nam Hoang Ly                     2
         Nicolaas Scholtz                 1
         Nikoloz Basilashvili             2
         Pedro Sousa                      1
         Ramkumar Ramanathan              2
         Reda El Amrani                   1
         Ricardo Rodriguez                2
         Roberto Quiroz                   2
         Rodrigo Banzer                   1
         Ruben Gonzales                   2
         Simen Sunde Bratholm             1
         Soren Hess Olesen                1
         Thomas Oger                      1
         Viktor Durasovic                 2
         Vladimir Ivanov                  1
         Wilfredo Gonzalez                1
         Wishaya Trongcharoenchaikul      1
         Yibing Wu                        1
         Yuki Bhambri                     2
         Zhe Li                           2
         Zhizhen Zhang                    1
Name: winner_name, Length: 7772, dtype: int64

In [39]:
dat.groupby(["surface","tourney_level","winner_name"])["winner_name"].agg("count")

surface  tourney_level  winner_name
Carpet   A              Aaron Krickstein                37
                        Adam Malik                       2
                        Adrian Voinea                    9
                        Adriano Panatta                 46
                        Agustin Calleri                  5
                        Agustin Moreno                   1
                        Aki Rahunen                      8
                        Albert Chang                     3
                        Alberto Berasategui              4
                        Alberto Mancini                  3
                        Alberto Martin                   1
                        Alberto Tous                     1
                        Alejandro Falla                  3
                        Alejandro Gattiker               2
                        Alejandro Pierola                1
                        Alex Antonitsch                 17
                        Alex Corretja                    7
                        Alex Mayer                       8
                        Alex Metreveli                  28
                        Alex Obrien                      8
                        Alex Radulescu                   6
                        Alexander Mronz                 18
                        Alexander Peya                   3
                        Alexander Popp                   1
                        Alexander Volkov                81
                        Alexander Waske                  3
                        Allan Stone                     25
                        Alvaro Fillol                    5
                        Alvin Gardiner                   3
                        Amos Mansdorf                   40
                                                        ..
None     D              Lloyd George Muirhead Harris     2
                        Luis David Martinez              1
                        Manuel Sanchez                   1
                        Marcelo Arevalo                  2
                        Marius Copil                     1
                        Marsel Ilhan                     2
                        Martin Klizan                    1
                        Marton Fucsovics                 2
                        Mohammad Ghareeb                 1
                        Nam Hoang Ly                     2
                        Nicolaas Scholtz                 1
                        Nikoloz Basilashvili             2
                        Pedro Sousa                      1
                        Ramkumar Ramanathan              2
                        Reda El Amrani                   1
                        Ricardo Rodriguez                2
                        Roberto Quiroz                   2
                        Rodrigo Banzer                   1
                        Ruben Gonzales                   2
                        Simen Sunde Bratholm             1
                        Soren Hess Olesen                1
                        Thomas Oger                      1
                        Viktor Durasovic                 2
                        Vladimir Ivanov                  1
                        Wilfredo Gonzalez                1
                        Wishaya Trongcharoenchaikul      1
                        Yibing Wu                        1
                        Yuki Bhambri                     2
                        Zhe Li                           2
                        Zhizhen Zhang                    1
Name: winner_name, Length: 13952, dtype: int64