In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import datetime

# Import data

In [56]:
os.chdir("D:/Kaggle/ATP_Matches/")

In [57]:
dat = pd.read_csv("data/ATP.csv")

# convert date as datatime

In [58]:
dat['date'] = dat.tourney_date.apply(lambda t: datetime.strptime(str(t), '%Y%m%d'))

In [78]:
dat.iloc[1235]

best_of                                         5
draw_size                                     NaN
l_1stIn                                       NaN
l_1stWon                                      NaN
l_2ndWon                                      NaN
l_SvGms                                       NaN
l_ace                                         NaN
l_bpFaced                                     NaN
l_bpSaved                                     NaN
l_df                                          NaN
l_svpt                                        NaN
loser_age                                   25.46
loser_entry                                   NaN
loser_hand                                      R
loser_ht                                      185
loser_id                                   100074
loser_ioc                                     USA
loser_name                            Arthur Ashe
loser_rank                                    NaN
loser_rank_points                             NaN
loser_seed                                    NaN
match_num                                       5
minutes                                       NaN
round                                          RR
score                            2-6 6-3 11-9 8-6
surface                                     Grass
tourney_date                             19681226
tourney_id                              1968-D002
tourney_level                                   D
tourney_name          Davis Cup WG CR: AUS vs USA
w_1stIn                                       NaN
w_1stWon                                      NaN
w_2ndWon                                      NaN
w_SvGms                                       NaN
w_ace                                         NaN
w_bpFaced                                     NaN
w_bpSaved                                     NaN
w_df                                          NaN
w_svpt                                        NaN
winner_age                                     25
winner_entry                                  NaN
winner_hand                                     R
winner_ht                                     NaN
winner_id                                  100079
winner_ioc                                    AUS
winner_name                           Bill Bowrey
winner_rank                                   NaN
winner_rank_points                            NaN
winner_seed                                   NaN
date                          1968-12-26 00:00:00
Name: 1235, dtype: object

In [59]:
dat.columns

Index(['best_of', 'draw_size', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms',
       'l_ace', 'l_bpFaced', 'l_bpSaved', 'l_df', 'l_svpt', 'loser_age',
       'loser_entry', 'loser_hand', 'loser_ht', 'loser_id', 'loser_ioc',
       'loser_name', 'loser_rank', 'loser_rank_points', 'loser_seed',
       'match_num', 'minutes', 'round', 'score', 'surface', 'tourney_date',
       'tourney_id', 'tourney_level', 'tourney_name', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_ace', 'w_bpFaced', 'w_bpSaved', 'w_df',
       'w_svpt', 'winner_age', 'winner_entry', 'winner_hand', 'winner_ht',
       'winner_id', 'winner_ioc', 'winner_name', 'winner_rank',
       'winner_rank_points', 'winner_seed', 'date'],
      dtype='object')

In [7]:
pd.DataFrame({"NAME": sorted(dat.winner_name.unique())}).tail(50)

                    NAME
3558   Yasufumi Yamamoto
3559   Yasutaka Uchiyama
3560     Yehoshua Shalem
3561        Yemisi Allan
3562         Yen Hsun Lu
3563  Yevgeny Kafelnikov
3564         Yew Ming Si
3565           Yibing Wu
3566        Yildirak Das
3567        Yohny Romero
3568       Yong Ho Chung
3569        Yong Il Yoon
3570        Yong Kyu Lim
3571        Yordan Kanev
3572  Yoshihito Nishioka
3573     Yosuke Watanuki
3574   Younes El Aynaoui
3575      Younes Rachidi
3576      Young Dae Jeon
3577       Young Jun Kim
3578      Youssef Hossam
3579         Yshai Oliel
3580         Yu Hui Lien
3581          Yu Jr Wang
3582            Yu Zhang
3583            Yu Zheng
3584        Yue Wei Wang
3585       Yuichi Sugita
3586         Yuji Tezuka
3587        Yuki Bhambri
3588        Yuri Schukin
3589        Yves Allegro
3590   Zacharie Moungnol
3591      Zack Fleishman
3592          Zan Guerry
3593      Zdravko Mincek
3594            Ze Zhang
3595         Zeeshan Ali
3596   Zeljko Franulovic
3597       Zeljko Krajan
3598        Zeljko Tosic
3599            Zhao Xie
3600              Zhe Li
3601       Zhizhen Zhang
3602         Zoltan Ilin
3603    Zoltan Kuharszky
3604      Zoran Petkovic
3605      Zoran Sevcenko
3606       Zsombor Piros
3607      Zulfiqar Ahmed

In [23]:
dat.iloc[1000:1200,:15].head()

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,l_svpt,loser_age,loser_entry,loser_hand,loser_ht
1000,3,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.434634,NaN,R,188.0
1001,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN
1002,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.047912,NaN,R,NaN
1003,5,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.365503,NaN,R,NaN
1004,3,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.186174,NaN,R,NaN

In [14]:
dat.iloc[:,15:30].head()

,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name
0,107760,AUS,Max Senior,NaN,NaN,NaN,1,NaN,R64,12-10 7-5 4-6 7-5,Grass,19680119,1968-580,G,Australian Chps.
1,106964,AUS,Ernie Mccabe,NaN,NaN,NaN,2,NaN,R64,6-3 6-2 6-4,Grass,19680119,1968-580,G,Australian Chps.
2,110024,INA,Gondo Widjojo,NaN,NaN,15.0,3,NaN,R64,6-4 3-6 6-3 7-5,Grass,19680119,1968-580,G,Australian Chps.
3,110025,AUS,Robert Layton,NaN,NaN,NaN,4,NaN,R64,6-4 6-2 6-1,Grass,19680119,1968-580,G,Australian Chps.
4,110026,AUS,Bert Kearney,NaN,NaN,NaN,5,NaN,R64,6-4 6-1 7-5,Grass,19680119,1968-580,G,Australian Chps.

In [40]:
dat.iloc[:,30:].shape

(169690, 19)

In [19]:
dat.surface.unique()

array(['Grass', 'Hard', 'Clay', 'Carpet', nan, 'None'], dtype=object)

In [21]:
dat.groupby(["surface","winner_name"])["winner_name"].count()

surface  winner_name
Carpet   Aaron Krickstein                48
         Adam Kellner                     2
         Adam Malik                       4
         Adam Thompson                    1
         Adrian Graimprey                 3
         Adrian Marcu                     1
         Adrian Voinea                   13
         Adriano Panatta                 47
         Adrians Zguns                    1
         Agustin Calleri                  5
         Agustin Moreno                   1
         Aivaras Balzekas                 1
         Aki Rahunen                     11
         Albert Chang                     4
         Albert Costa                     8
         Albert Portas                    1
         Alberto Berasategui              7
         Alberto Mancini                  4
         Alberto Martin                   1
         Alberto Tous                     1
         Alejandro Falla                  3
         Alejandro Gattiker               2
         Alejandro Hernandez              3
         Alejandro Pierola                1
         Alex Antonitsch                 19
         Alex Corretja                   10
         Alex Mayer                       8
         Alex Metreveli                  28
         Alex Obrien                      8
         Alex Radulescu                   7
                                         ..
None     Lloyd George Muirhead Harris     2
         Luis David Martinez              1
         Manuel Sanchez                   1
         Marcelo Arevalo                  2
         Marius Copil                     1
         Marsel Ilhan                     2
         Martin Klizan                    1
         Marton Fucsovics                 2
         Mohammad Ghareeb                 1
         Nam Hoang Ly                     2
         Nicolaas Scholtz                 1
         Nikoloz Basilashvili             2
         Pedro Sousa                      1
         Ramkumar Ramanathan              2
         Reda El Amrani                   1
         Ricardo Rodriguez                2
         Roberto Quiroz                   2
         Rodrigo Banzer                   1
         Ruben Gonzales                   2
         Simen Sunde Bratholm             1
         Soren Hess Olesen                1
         Thomas Oger                      1
         Viktor Durasovic                 2
         Vladimir Ivanov                  1
         Wilfredo Gonzalez                1
         Wishaya Trongcharoenchaikul      1
         Yibing Wu                        1
         Yuki Bhambri                     2
         Zhe Li                           2
         Zhizhen Zhang                    1
Name: winner_name, Length: 7772, dtype: int64

In [39]:
dat.groupby(["surface","tourney_level","winner_name"])["winner_name"].agg("count")

surface  tourney_level  winner_name
Carpet   A              Aaron Krickstein                37
                        Adam Malik                       2
                        Adrian Voinea                    9
                        Adriano Panatta                 46
                        Agustin Calleri                  5
                        Agustin Moreno                   1
                        Aki Rahunen                      8
                        Albert Chang                     3
                        Alberto Berasategui              4
                        Alberto Mancini                  3
                        Alberto Martin                   1
                        Alberto Tous                     1
                        Alejandro Falla                  3
                        Alejandro Gattiker               2
                        Alejandro Pierola                1
                        Alex Antonitsch                 17
                        Alex Corretja                    7
                        Alex Mayer                       8
                        Alex Metreveli                  28
                        Alex Obrien                      8
                        Alex Radulescu                   6
                        Alexander Mronz                 18
                        Alexander Peya                   3
                        Alexander Popp                   1
                        Alexander Volkov                81
                        Alexander Waske                  3
                        Allan Stone                     25
                        Alvaro Fillol                    5
                        Alvin Gardiner                   3
                        Amos Mansdorf                   40
                                                        ..
None     D              Lloyd George Muirhead Harris     2
                        Luis David Martinez              1
                        Manuel Sanchez                   1
                        Marcelo Arevalo                  2
                        Marius Copil                     1
                        Marsel Ilhan                     2
                        Martin Klizan                    1
                        Marton Fucsovics                 2
                        Mohammad Ghareeb                 1
                        Nam Hoang Ly                     2
                        Nicolaas Scholtz                 1
                        Nikoloz Basilashvili             2
                        Pedro Sousa                      1
                        Ramkumar Ramanathan              2
                        Reda El Amrani                   1
                        Ricardo Rodriguez                2
                        Roberto Quiroz                   2
                        Rodrigo Banzer                   1
                        Ruben Gonzales                   2
                        Simen Sunde Bratholm             1
                        Soren Hess Olesen                1
                        Thomas Oger                      1
                        Viktor Durasovic                 2
                        Vladimir Ivanov                  1
                        Wilfredo Gonzalez                1
                        Wishaya Trongcharoenchaikul      1
                        Yibing Wu                        1
                        Yuki Bhambri                     2
                        Zhe Li                           2
                        Zhizhen Zhang                    1
Name: winner_name, Length: 13952, dtype: int64